<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="LoginWiki" verbose="1" >
    <test name="SmokeTest" >
        <classes>
            <class name="com.wiki.koshkin.test.LoginWiki" />
            <class name="com.wiki.koshkin.test.CreateWatchlistTest" />
            <class name="com.wiki.koshkin.test.ClearWatchlistTest" />
        </classes>
    </test>


</suite>
